<div>
  <div><%= link_to " ", '#', class: 'glyphicon glyphicon-chevron-up' %></div>
  <div><strong><%= post.points %></srong></div>
  <div><%= link_to " ", '#', class: 'glyphicon glyphicon-chevron-up' %></div>
</div>  